{% extends "basicwebsite/basic_herounit.html" %}
{% block content %}
    <!-- CAROUSEL -->
    <div class="row-fluid">
        <div class="span6 pull-left text-center hidden-phone">
            <h2 id="carousel-caption" class="text-center"> {{ carousel_caption }}</h2>
            <div id="indexCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                {% for item in carousel_items %}
                    <li data-target="#indexCarousel" data-slide-to="{{ item.order_of_apperance }}" {% if forloop.first %} class="active" {% endif %}></li>
                {% endfor %}   
                </ol>
                <!-- Carousel items -->   
                <div id="carousel-items" class="carousel-inner text-center">
                {% for item in carousel_items %}
                    <div {% if forloop.first %} class="active item" {% else %} class="item" {% endif %}>
                        <img src="{{ MEDIA_URL }}{{ item.image }}" />
                        <h3>{{ item.display_name }}</h3>
                    </div>
                {% endfor %}
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#indexCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#indexCarousel" data-slide="next">&rsaquo;</a>
            </div>
            <div>
                <section class="sidebar text-center">
                    <header>
                        <h1>Location:</h1>
                    </header>
                    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=827+beacon+stgreet+newton+ma&amp;aq=&amp;sll=42.036922,-71.683501&amp;sspn=6.269921,9.519653&amp;ie=UTF8&amp;hq=&amp;hnear=827+Beacon+St,+Newton+Centre,+Massachusetts+02459&amp;t=m&amp;ll=42.344335,-71.190033&amp;spn=0.044407,0.072956&amp;z=13&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=827+beacon+stgreet+newton+ma&amp;aq=&amp;sll=42.036922,-71.683501&amp;sspn=6.269921,9.519653&amp;ie=UTF8&amp;hq=&amp;hnear=827+Beacon+St,+Newton+Centre,+Massachusetts+02459&amp;t=m&amp;ll=42.344335,-71.190033&amp;spn=0.044407,0.072956&amp;z=13&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
                </section>
            </div>
        </div>       
        <!-- ADDRESS -->
        <div class="span5 pull-right offset1 text-center">
            <div class="visible-phone">
                <h3>Address: <br /> {{ street_address }} <br /> {{ city_and_state }}</h3>
            </div>
            <section>
                <header>
                    <h1>{{ hours_description }}:</h1>
                </header>
                <table class="table">
                    <tbody>
                    {% for hour in hours %}    
                        <tr>
                            <td><h4 class="menu-item">{{ hour.day_of_week }}</h4></td>
                            <td><h4 class="price">{{ hour.hours_open }}</h4></td>
                        </tr>
                    {% endfor %}   
                    </tbody>
                </table>
            </section>
            <div class="row-fluid">    
                <div class="span8 offset1">
                    <section id="contact" class="sidebar">
                        <header>
                            <h1>Contact us:</h1>
                            <h2>{{ phone_number }}</h2>
                        </header>
                        <p><span class="btn btn-large" type="button"><a href="mailto:{{ email }}">Email Us</a></span></p>
                        <h4 class="hidden-phone">{{ index_message }}</h4>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}    
