               <li>
                 <div class="row-fluid">
                     <div class="span3 text-center">
                       <h3 class="menu-item">{{ menu_item_name_1 }}</h3>
                       <p> {{ menu_item_description_1 }} </p>
                     <h4 class="price">{{ menu_item_price_1 }}</h4>
                       <img src="{{menu_item_image_1}}"  class="hidden-phone">
                     </div>
                     <div class="span3 text-center">
                       <h3 class="menu-item">{{ menu_item_name_2 }}</h3>
                       <p>{{ menu_item_description_2 }}</p>
                     <h4 class="price">{{ menu_item_price_2 }}</h4>
                     <img src="{{menu_item_image_2}}"  class="hidden-phone">
                     </div>
                     <div class="span3 text-center">
                       <h3 class="menu-item">{{ menu_item_name_3 }}</h3>
                       <p>{{ menu_item_description_3 }}</p>
                     <h4 class="price">{{ menu_item_price_3 }}</h4>
                     <img src="{{menu_item_image_3}}"  class="hidden-phone">
                  </div>
                    <div class="span3 text-center">
                      <h3 class="menu-item">{{ menu_item_name_4 }}</h3>
                      <p>{{ menu_item_description_4 }}</p>
                    <h4 class="price">{{ menu_item_price_4 }}</h4>
                    <img src="{{menu_item_image_4}}"  class="hidden-phone">
                    </div>
                  </div>  
                </li>