{% extends "basicwebsite/basic_herounit.html" %}
{% block content %} 
    <!-- BEGIN MENUS -->
    <div class="row-fluid">
      <div class="span9 pull-left text-center">
        {% for menu in menus_on_page %}
        <div class="row-fluid">
          <div class="span12">
            <section class="menu text-center">
              <header>
                <h1>{{ menu.menu_instance.title }}</h1>
                <h4 class="hidden-phone">{{ menu.menu_instance.description }}</h4>
              </header>     
              <ul class="unstyled">
              {% for item in menu.menu_items %} 
                {% if forloop.first %}
                <li>
                  <div class="row-fluid">
                {% endif %}               
                    <div class="span3 text-center">
                      <h4 class="menu-item">{{ item.name }}</h4>
                        <p class="hidden-phone"> {{ item.description }} </p>
                        <h4 class="price">${{ item.price }}</h4>
                {% if item.image %}
                        <img src="{{ MEDIA_URL }}{{item.image }}"  class="hidden-phone">
                {% endif %}
                    </div>   
                {% if forloop.counter|divisibleby:4 and not forloop.first %}
                  </div>                                  
                </li> 
                <li class="menu-row">
                  <div class="row-fluid">    
                {% endif %}
                {% if forloop.last %}
                  </div>                
                </li>
                {% endif %}
              {% endfor %}   
              </ul>  
            </section>
          </div>
        </div>     
        {% endfor %}
      </div>
      <!-- BEGIN SIDEBARS -->
      <div class="span3 pull-right text-center sidebar">
      {% for sidebar in sidebars %}    
        <div class="row-fluid">
          <div class="span12">
            <section>
              <header>
                <h1>{{ sidebar.menu_instance.title }}</h1>
                <h3>{{ sidebar.menu_instance.descrtiption }}</h3>
              </header>
              <table class="table">
                <tbody>
                  {% for item in sidebar.menu_items %}  
                  <tr>
                    <td><h4 class="menu-item">{{ item.name }}</h4></td>
                    <td><h4 class="price">${{ item.price }}</h4></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </section>
          </div>
        </div>    
      {% endfor %}  
       <section>
         <header>
           <h1 class="hidden-phone">{{ menu_page.menu_page_message_title }}</h1>
           <h3 class="hidden-phone">{{ menu_page.menu_page_message }}</h3>
         </header>
       </section>
     </div>
   </div>  
{% endblock %}  
 